form input, form select , form textarea{
    padding: 20px;
    border: 1px solid #2e374a;
    border-radius: 5px;
    background-color:#182237 ;
    color: white;
    margin: 10px 0;
    width: 100%;
}
