form textarea , form select , form input{
    padding: 30px;
    background-color: transparent;
    
    border-radius: 5px;
    border: 2px solid #2e374a;
    margin-bottom: 30px;
    color: #2e374a;
}
form input , form select {
    width: 45%;
    
}
